.fade-enter {
    opacity: 0;
}

.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}

.not_page {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 50%, rgba(255, 255, 255, 0) 100%);
    height: 40vh;
    padding-top: 305px;
}

.not_page_text {
    font-size: 48px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    text-align: center;
}

@media screen and (max-width: 720px) {
    .not_page_text {
        font-size: 32px;
    }
}
